<HEAD>
<TITLE>
    SystemShop
</TITLE>
    </HEAD>
{{extend 'layout.html'}}

{{block header}}
            <style>          
               body::after {
                 content: "";
                   background: url("{{=URL('static','/fondos/carrito.jpeg')}}");
                 background-repeat:no-repeat;
                 background-size: cover;
                 background-attachment:fixed;

                 opacity: 2;
                 top: 0;
                 left: 0;
                 bottom: 0;
                 right: 0;
                 position: absolute;
                 z-index: -1;   
               }           
   
{{end}}
