{{extend 'layout.html'}}
<div class="row">
  <div class="col-sm-3">
    <div class="thumbnail">
      <img dclass="img-responsive" src="http://127.0.0.1:8000/SystemShop/static/_2.14.6/images/milka.jpg" alt="...">
      <div class="caption">
        <h3>Alfajor Milka</h3>
        <p>$20</p>
        <p>
          <a href="#" class="btn btn-primary" role="button">AGREGAR AL CARRITO <i class="glyphicon glyphicon-shopping-cart" ></i></a>
            
        </p>
      </div>
    </div>
  </div>


  <div class="col-xs-4 col-sm-3">
    <div class="thumbnail">
      <img dclass="img-responsive" src="http://127.0.0.1:8000/SystemShop/static/_2.14.6/images/bagley.jpg" alt="...">
      <div class="caption">
        <h3>Galletitas Bagley</h3>
        <p>$27</p>
        <p>
          <a href="#" class="btn btn-primary" role="button">AGREGAR AL CARRITO</a>
        </p>
      </div>
    </div>
  </div>
</div>
