<a href="http://127.0.0.1:8000/SystemShop_github/default/index"> <img src="http://127.0.0.1:8000/SystemShop_github/static/images/logo.png" class="img-rounded" alt="Cinque Terre" width="150" height="143" ></a>

<body style="background-color:#A9A9F5;">
{{extend 'layout_administrador.html'}}<center>
<br /><br /><br />
<h1> <p class="text-center visible-lg bg-success">En este apartado van los detalles de todos los Remitos cargados</p></h1>
<br />
<a type="cargar" class="btn btn-primary " href="{{=URL(c='reportes',f='reportes_remitos')}}"> Volver <i class="glyphicon glyphicon-remove" ></i> </a>
</center>

</div>
