<a href="http://127.0.0.1:8000/SystemShop_github/default/index"> <img src="http://127.0.0.1:8000/SystemShop_github/static/images/logo.png" class="img-rounded" alt="Cinque Terre" width="150" height="143" ></a>

<body style="background-color:#A9A9F5;">
{{extend 'layout_administrador.html'}}
<!-- Obtiene la barra superior con los menues  -->
<h1>Listado completo de clientes</h1> <!-- Titulo  -->
<input class="btn btn-warning" type="button" onclick="history.back()" name="volver atrás" value="volver atrás"> <!-- Boton volver atras  -->
<TABLE width="100%" border="2" cellspacing="5" cellpadding="5" bgcolor="cdcdcd" font-size: = 11px margin= 0  >  <!-- Tabla  -->
    <TR BGCOLOR="#99f"><TH>DNI</TH><TH>APELLIDO</TH><TH>NOMBRE</TH><TH>TELEFONO</TH><TH>LOCALIDAD</TH><TH>Opciones</TH></TR>  <!-- Titulo de los campos -->
    {{for x in dc: }}
    <TR><TD>{{=x.dni}}</TD><TD>{{=x.apellido}}</TD><TD>{{=x.nombre}}</TD><TD>{{=x.telefono}}</TD><TD>{{=x.localidad_cliente}}</TD><TD> <!-- Campos de la tabla que seran consultados -->
            <A type="button" class="btn btn-danger btn-xs" href="{{=URL(c='bajas', f='borrar_cliente', args=(x.id, ))}}">BORRAR</A> -  <!-- Permite borrar registros -->
            <A type="button" class="btn btn-primary btn-xs" href="{{=URL(c='modificacion', f='editar_cliente', args=(x.id, ))}}">EDITAR</A> <!-- Permite modificar registros -->
        </TD></TD></TR>
    {{pass}}
<TH> <center BGCOLOR="#99f"> <input type="button" class="btn btn-success btn-xs" type="button" name="Imprimir Reporte" value="Imprimir Reporte" onclick="window.print();">  </center> </TH> <!-- Boton Imprimir  -->
</TABLE>
<input type="button" class="btn btn-warning" onclick="history.back()" name="volver atrás" value="volver atrás">  <!-- Boton volver atras  -->
