{{extend 'layout.html'}}
<div class="row">
  <div class="col-md-1">
      Nombre:
  </div>
  <div class="col-md-3">
      <INPUT NAME="nombre"/>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
   Descripcion:
  </div>
  <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Text input">

  </div>
</div>

<div class="row">
  <div class="col-md-1">
   Precio:
  </div>
  <div class="col-md-3">
      <INPUT NAME="nombre"/>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
   Codigo:
  </div>
  <div class="col-md-3">
      <INPUT NAME="nombre"/>
  </div>
</div>
