{{extend 'layout.html'}}
<div class="row">
  <div class="col-md-1">
      Nombre:
  </div>
  <div class="col-md-3">
      <INPUT NAME="nombre"/>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
   apellido:
  </div>
  <div class="col-md-3">
      <input name="apellido">

  </div>
</div>

<div class="row">
  <div class="col-md-1">
   telefono:
  </div>
  <div class="col-md-3">
      <INPUT NAME="nombre"/>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
   Dirección:
  </div>
  <div class="col-md-3">
      <INPUT NAME="nombre"/>
  </div>
</div>
